@import "tailwindcss";



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  20% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(200%);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes text-shine {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -100% center;
  }
}

.animate-shine {
  animation: shine 10s ease-in-out infinite;
}

.animate-text-shine {
  animation: text-shine 10s ease-in-out infinite;
}
